<?xml version="1.0"?>
<launch>

    <arg name="robot_pose_x"/>
    <arg name="robot_pose_y"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find kitty_software)/config/amcl/amcl.yaml" command="load"/>
        <param name="initial_pose_x" value="$(arg robot_pose_x)"/>
        <param name="initial_pose_y" value="$(arg robot_pose_y)"/>
        <remap from="scan" to="bottom_lidar_scan/filtered"/>
    </node>

</launch>