<?xml version="1.0"?>
<launch>

    <arg name="odom_topic" default="odom" />
    <arg name="scan_topic" default="scan" />
    <arg name="map_topic" default="map" />
    <arg name="cmd_vel_topic" default="cmd_vel" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- costmap -->
        <rosparam file="$(find kitty_software)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find kitty_software)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find kitty_software)/config/move_base/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find kitty_software)/config/move_base/global_costmap_params.yaml" command="load"/>
        <!-- base global planner -->
        <rosparam file="$(find kitty_software)/config/move_base/global_planner_params.yaml" command="load"/>
        <!-- base local planner -->
        <rosparam file="$(find kitty_software)/config/move_base/teb_local_planner_params.yaml" command="load"/>
        <!-- move base -->
        <rosparam file="$(find kitty_software)/config/move_base/move_base_params.yaml" command="load"/>
        <!-- remap -->
        
        <remap from="odom" to="$(arg odom_topic)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
        <remap from="map" to="$(arg map_topic)"/>
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    </node>

</launch>