<?xml version="1.0"?>
<launch>

    <!-- gazebo -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="world_name" default="room_with_pillars_asphalt"/>
    <!-- urdf model -->
    <arg name="model" default="$(find kitty_description)/urdf/config.urdf.xacro"/>
    <!-- urdf spawner -->
    <arg name="robot_pose_x" default="0.0"/>
    <arg name="robot_pose_y" default="0.0"/>
    <arg name="robot_pose_z" default="0.11"/>
    <arg name="robot_pose_R" default="0.0"/>
    <arg name="robot_pose_P" default="0.0"/>
    <arg name="robot_pose_Y" default="0.0"/>
    <!-- selecting mode (slam or localization) -->
    <arg name="localization" default="false"/>
    <!-- map file for localization and navigation -->
    <arg name="map_file" default="$(find kitty_maps)/2d_maps/$(arg world_name).yaml"/>
    <!-- parameter is used to save the map scan with the name of the map from the simulation -->
    <param name="map_name" value="$(arg world_name)"/>

    <!-- simulation with robot -->
    <include file="$(find kitty_description)/launch/kitty.launch">
        <!-- gazebo -->
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(find maddrive_worlds)/worlds/$(arg world_name).world"/>
        <!-- urdf spawner -->
        <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
        <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
        <arg name="robot_pose_z" value="$(arg robot_pose_z)"/>
        <arg name="robot_pose_R" value="$(arg robot_pose_R)"/>
        <arg name="robot_pose_P" value="$(arg robot_pose_P)"/>
        <arg name="robot_pose_Y" value="$(arg robot_pose_Y)"/>
        <!-- urdf model -->
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- keyboard control -->
    <include file="$(find maddrive_teleop)/launch/start_keyboard_teleop.launch">
        <arg name="turbo/linear_steps" value="4"/>
        <arg name="turbo/angular_steps" value="4"/>
        <arg name="turbo/linear_forward_min" value="0.04"/>
        <arg name="turbo/linear_forward_max" value="0.4"/>
        <arg name="turbo/linear_backward_min" value="0.03"/>
        <arg name="turbo/linear_backward_max" value="0.3"/>
        <arg name="turbo/angular_min" value="0.05"/>
        <arg name="turbo/angular_max" value="0.5"/>
        <arg name="cmd_topic" value="key_vel"/>
    </include>
    <!-- joystick control -->
    <include file="$(find maddrive_teleop)/launch/start_joy_teleop.launch">
        <arg name="dev" value="/dev/input/js0" />
        <arg name="cmd_topic" value="joy_vel" />
        <arg name="speed/frwd_limit" value="1"/>
        <arg name="speed/bkwrd_limit" value="-0.6"/>
        <arg name="steer/limit" value="45"/>
    </include>
    <!-- navigation control -->
    <!-- <include file="$(find kitty_software)/launch/drivers/move_base.launch">
        <arg name="odom_topic" value="visual_odometry"/>
        <arg name="scan_topic" value="bottom_ydlidar_scan/filtered"/>
        <arg name="map_topic" value="map"/>
        <arg name="cmd_vel_topic" value="nav_vel" />
    </include> -->
    <!-- twist_mux -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find kitty_software)/config/twist_mux/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="cmd_vel_raw"/>
        <remap from="diagnostics" to="twist_mux/diagnostics"/>
    </node>
    <!-- cmd_vel_filter -->
    <node pkg="maddrive_teleop" type="cmd_vel_filter" name="cmd_vel_filter" output="screen">
        <param name="steering_alpha" value="0.7" />
        <param name="linear_alpha" value="0.7" />
        <remap from="cmd_vel_raw" to="cmd_vel_raw" />
        <remap from="cmd_vel" to="four_wheel_steering_controller/cmd_vel" />
    </node>

    <!-- laser_filter -->
    <include file="$(find kitty_software)/launch/drivers/laser_filter.launch">
        <arg name="scan/data_raw" value="bottom_ydlidar_scan/raw"/>
        <arg name="scan/data_filtered" value="bottom_ydlidar_scan/filtered"/>
    </include>

    <!-- solving localization problem -->
    <group if="$(arg localization)">
        <include file="$(find kitty_software)/launch/drivers/map_server.launch">
            <arg name="map_file" value="$(arg map_file)"/>
        </include>
        <include file="$(find kitty_software)/launch/drivers/amcl.launch">
            <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
            <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
            <arg name="scan_input_topic" value="bottom_ydlidar_scan/filtered"/>
        </include>
    </group>
    <!-- solving slam problem -->
    <group unless="$(arg localization)">
        <include file="$(find kitty_software)/launch/drivers/slam_gmapping.launch">
            <arg name="scan_input_topic" value="bottom_ydlidar_scan/filtered"/>
        </include>
    </group>

    <!-- rgbd_sync -->
    <node pkg="rtabmap_sync" type="rgbd_sync" name="rgbd_sync">
        <!-- inputs -->
        <remap from="rgb/image" to="front_rs_d435i_camera/color/image_raw" />
        <remap from="depth/image" to="front_rs_d435i_camera/aligned_depth_to_color/image_raw" />
        <remap from="rgb/camera_info" to="front_rs_d435i_camera/color/camera_info" />
        <!-- outputs -->
        <remap from="rgbd_image" to="front_rs_d435i_camera/rgbd_image" />
        <remap from="rgbd_image/compressed" to="front_rs_d435i_camera/rgbd_image/compressed" />
        <param name="approx_sync" value="false" />
    </node>

    <!-- rgbd odometry -->
    <include file="$(find kitty_vision)/launch/rgbd_odom.launch">
        <arg name="camera_name" value="front_rs_d435i_camera"/>
        <arg name="publish_tf" value="true"/>
    </include>

</launch>
