<?xml version="1.0"?>
<robot name="kitty" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find kitty_description)/urdf/base.urdf.xacro" />
	<xacro:include filename="$(find kitty_description)/urdf/params.urdf.xacro" />

	<xacro:include filename="$(find maddrive_urdf_tools)/urdf/macros/realsense.urdf.xacro" />
	<xacro:include filename="$(find maddrive_urdf_tools)/urdf/macros/lidar.urdf.xacro" />

	<xacro:lidar
		prefix="bottom"
		parent="base_link"
		origin_xyz="-0.15 0.0 -0.043"
		origin_rpy="3.14159 0.0 0.0" />

	<xacro:rs_camera
		prefix="front"
		model="d455"
		parent="front_axis_link"
		origin_xyz="${front_wheel_2_front_bumper} 0.0 ${body_heigth}"
		origin_rpy="0.0 0.0 0.0" />

</robot>
