<?xml version="1.0"?>
<launch>

    <!-- start_VO.launch -->
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">
        <param name="subscribe_rgbd" type="bool" value="true" />
        <param name="frame_id" type="string" value="base_footprint" />
        <param name="publish_tf" type="bool" value="true" />
        <remap from="rgbd_image" to="front_rs_d435i_camera/rgbd_image" />
        <remap from="odom" to="visual_odometry" />
    </node>

</launch>
