<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find kitty_software)/launch/drivers/start_hardware.launch"/>

    <!-- joystick control -->
    <include file="$(find maddrive_teleop)/launch/start_joy_teleop.launch">
        <arg name="cmd_topic" value="joy_vel" />
        <arg name="speed/frwd_limit" value="1.0"/>
        <arg name="speed/bkwrd_limit" value="-1.0"/>
        <arg name="steer/limit" value="15"/>
    </include>
    <!-- navigation control -->
    <!-- <include file="$(find kitty_software)/launch/drivers/move_base.launch">
        <arg name="algorithm_config" value="$(arg algorithm_config)"/>
    </include> -->
    <!-- twist_mux -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find kitty_software)/config/twist_mux/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="cmd_vel"/>
        <remap from="diagnostics" to="twist_mux/diagnostics"/>
    </node>

    <!-- rdbd_odometry -->
    <include file="$(find kitty_vision)/launch/drivers/rgbd_odom.launch">
        <arg name="camera_name" value="front_rs_d435i_camera"/>
        <arg name="publish_tf" value="true"/>
    </include>

    <!-- laser_filter -->
    <include file="$(find kitty_software)/launch/drivers/laser_filter.launch">
        <arg name="scan/data_raw" value="bottom_ydlidar_scan/raw"/>
        <arg name="scan/data_filtered" value="bottom_ydlidar_scan/filtered"/>
    </include>

        <!-- 2d-slam -->
    <include file="$(find kitty_software)/launch/drivers/slam_gmapping.launch">
        <arg name="scan_input_topic" value="bottom_ydlidar_scan/filtered"/>
    </include>

</launch>
