<?xml version="1.0"?>
<launch>
  <arg name='rviz' default="true"/>
  <arg name='rtabmapviz' default='false'/>
  <arg name="database_path" default="$(find tigra_maps)/3d_maps/$(arg map_name)"/>
  <arg name="map_file" default="$(find kitty_software)/2d_maps/$(arg world_name).yaml"/>

  <!-- Start hardware -->
  <include file="$(find kitty_software)/launch/drivers/uc_socket_server.launch" />
  <include file="$(find kitty_software)/launch/drivers/uc_convertion_layer.launch" />
  <include file="$(find kitty_software)/launch/drivers/start_hardware.launch"/>

  <!-- solving slam problem -->
  <include file="$(find kitty_software)/launch/drivers/$(arg slam_algorithm).launch">
  </include>

  <!-- solving localization problem -->
  <include file="$(find kitty_software)/launch/drivers/map_server.launch">
      <arg name="map_file" value="$(arg map_file)"/>
  </include>
  <include file="$(find kitty_software)/launch/drivers/amcl.launch">
      <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
      <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
  </include>

  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
    <rosparam command="load" file="$(find kitty_software)/config/ekf/ekf_vo.yaml" />
    <remap from="odometry/filtered" to="tigra/odometry/filtered/local" />
  </node> -->

  <!-- joy teleop-->
  <include file="$(find maddrive_teleop)/launch/start_joy_teleop.launch">
    <arg name="cmd_topic" value="joy_vel" />
  </include>
  <!-- keyboard control -->
  <include file="$(find maddrive_teleop)/launch/start_keyboard_teleop.launch">
    <arg name="turbo/linear_steps" value="4"/>
    <arg name="turbo/angular_steps" value="4"/>
    <arg name="turbo/linear_forward_min" value="0.04"/>
    <arg name="turbo/linear_forward_max" value="0.4"/>
    <arg name="turbo/linear_backward_min" value="0.03"/>
    <arg name="turbo/linear_backward_max" value="0.3"/>
    <arg name="turbo/angular_min" value="0.05"/>
    <arg name="turbo/angular_max" value="0.5"/>
    <arg name="cmd_topic" value="key_vel"/>
</include>
  <!-- move_base -->
  <include file="$(find kitty_software)/launch/drivers/move_base.launch">
    <arg name="folder_name" value="move_base_vo" />
    <arg name="cmd_topic" value="nav_vel" />
  </include>
  <!-- twist_mux -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <rosparam command="load" file="$(find kitty_software)/config/twist_mux/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="kitty/cmd_vel_raw"/>
  </node>
  <!-- cmd_vel filter -->
  <node pkg="maddrive_teleop" type="steering_filter" name="steering_filter" ns="kitty" output="screen">
    <param name="steering_alpha" value="0.9" />
    <remap from="cmd_vel_raw" to="kitty/cmd_vel_raw" />
    <remap from="cmd_vel" to="kitty/cmd_vel" />
  </node>

  <node if="$(arg debug)" pkg="rqt_plot" type="rqt_plot" name="steering_plot" output="screen" args="/tigra/cmd_vel_raw/angular/z /tigra/cmd_vel/angular/z" />

  <include if="$(arg rviz)" file="$(find kitty_software)/launch/view/rviz_start.launch">
    <!-- <arg name="rvizconfig" value="$(find kitty_software)/config/rviz/full_move_base.rviz" /> -->
    <arg name="rvizconfig" value="$(find kitty_software)/config/rviz/rtab_obstacle.rviz" />
  </include>
</launch>