<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <include file="$(find kitty_software)/launch/drivers/uc_serial_server.launch" />
    <include file="$(find kitty_software)/launch/drivers/uc_convertion_layer.launch" />
    <include file="$(find kitty_software)/launch/drivers/start_joy_teleop.launch" />


    
</launch>
